/* ==== main ==== */
#main {
	background-color: #24689d;
	width:960px;
	padding:5px;
	margin:0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}

a {text-decoration:none; color:#df882a; border: 0px;}

.center	{
	text-align: center;
}

.right {
	text-align: right;
}

.marginLeft20 {
	margin-left:20px;
}

#main h1 {
	color:#cbcbcb;
}

#main h2 {
	color:#cbcbcb;
}

#main h3 {
	color:#cbcbcb;
}

#main h4 {
	color:#cbcbcb;
	margin-left:20px;
}

#main ol {
	color:#cbcbcb;
	list-style-type: lower-alpha;
}

#main blockquote {
	color:#9fd79e;
	font-style:italic;
}

#main dt {
	color:#9fd79e;
	font-style:italic;
	font-size: 22px;
}

#main dd {
	color:#339966;
	font-style:Bold;
	font-size: 18px;
}

p {
	margin-left:10px;
	margin-right:10px;
	line-height: 4ex;
}

font {
	color:#339966;
	font-style:Bold;
	font-size: 18px;
}
/* ==== end main ==== */

/* ==== contents ==== */
#contents {background-color: #24689d;
	width:960px;
	padding:5px;
	margin:0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
}

#contents table {
	width:900px;
	padding:0px;
	margin:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#contents td {
	width:300px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#contents th {
	background:#00ffff;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	text-align:left;
}

#contents tbody{
	background:#ff0000;
}

#contents tfoot {
	background:#339966;
}

.padl {
	padding-left:8px;
}




